* {
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;700&display=swap');
	
	
	margin: 0;
	padding: 0;
}
.titulo{
	color:white;
	font-size: large;
	font-weight: bold;
	letter-spacing: 0ch;
	text-align: center;
	letter-spacing:10px;
	font-family: 'Big Shoulders Display', cursive;
	text-transform: uppercase;
	}
	
body {
	color:white;
	font-family: 'Roboto', sans-serif;
	background-image:linear-gradient(to bottom,#525252,#2b2828,#292828,#292828,#292828,#703538);
    
}

.contenedor {
	width: 100%;
	max-width: 100%;
	margin: 2rem auto;
	display: grid;
	grid-gap: 0,1rem;
	grid-template-columns: repeat (6, 3fr);
	grid-template-rows: repeat(6, auto);

	grid-template-areas: 
                         "header header header "
						 "fila1 fila1 fila1 "
						 "fila2 fila2 fila2 "
						 "fila3 fila3 fila3 "
                         "fila4 fila4 fila4 "
					     "footer footer footer ";
}

.contenedor > div,
.contenedor .header,
.contenedor .fila1,
.contenedor .fila2,
.contenedor .fila3,
.contenedor .fila4,
.contenedor .footer {

	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	
	color: #fff;
	grid-area: header;
	

}
.contenedor .fila1 {
    color:rgb(57, 57, 57);
margin-top:1rem;
 

}

.contenedor .fila2 {
    color:rgb(57, 57, 57);
}







.contenedor .footer {
	background-color: rgb(148, 39, 39);
	color: rgb(255, 255, 255);
	opacity: .2;
	width: 100%;
	height: auto;
	grid-area: footer;
    justify-content: end;
	text-decoration: none;
}
.contenedor .footer #copyright{
	text-align: right;
	text-transform: lowercase;
	font-size: 1rem;
}
