@import "widget-2";
@import  "widget-1";
@import "tienda";
@import "sidebar";
@import "footer";
@import "container";
@import "contenedor";
@import  "contacto";
@import "error404";
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat (5, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: 
                         "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
					     "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {

	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
    
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}
.contenido .sidebar a:hover {
	width:40% auto;
	height: 50% auto;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	color: #fff;
	grid-area: footer;
}
@media screen and (min-width: 320px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";
	.header{
		height: 20px;
width:20px;
}

@media screen and (min-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";

                        

    }

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "contenido contenido sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";

					  
.header{
    height: 100px;
    width:700px;
}
}




@media screen and (min-width: 1024px){
    .contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";

							        
    }
.header{
    height: 100px;
    width:900px;
}
@media screen and (min-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";

					 		            
    }

		}					 
}
}
}
}
}